/* .sigup-container {
    height: 100%;
    display: flex;
    justify-content: center;
}
.signup-footer-button {
    display: flex;
    justify-content: flex-end;
}
.close-signup-button {
    margin-right: 5px;
} */