.HOMEPAGE_CONTAINER {
    padding: 0;
    height: 100vh;
}
.HOMEPAGE_NAVBAR {
    padding: 5px;
    background-color: rgb(87, 84, 80);
}
.HOMEPAGE_PROFILE_CONTAINER {
    height: 94%;
    background-color: #00ff95;
}
.HOMEPAGE_MANAGE_BTN {
    background-color: blanchedalmond;
}